[Unit]
Description=Teak Configurator
Requires=teak-metaconfigurator.service network.target
After=teak-metaconfigurator.service network.target

[Service]
Slice=teak-services.slice
ReadOnlyPaths=/
ProtectSystem=strict
RuntimeDirectory=teak-configurator
# We use files in our runtime directory to both indicate to systemd that services should
# be restarted and to provide "credential" data to systemd services. If systemd nukes that
# directory it will see changes to the files we touch to restart services, and so restart the
# services. When the services restart, they will try to load their "credential" data, which will
# also be absent. This takes down all the services.
#
# I would prefer that things continue operating even if the configurator dies -- we can find other
# mechanisms to mark a server as unhealthy if it can no longer get new config data.
RuntimeDirectoryPreserve=yes
RuntimeDirectoryMode=0700
LogsDirectory=teak-configurator
ConfigurationDirectory=teak-configurator
WorkingDirectory=/opt/teak-configurator

NoNewPrivileges=yes
PrivateTmp=yes
PrivateUsers=yes
ProtectClock=yes
PrivateDevices=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
RestrictSUIDSGID=yes
RestrictRealtime=yes
LockPersonality=yes
RemoveIPC=yes
UMask=0033

SystemCallArchitectures=native
SystemCallFilter=~@clock @cpu-emulation @debug @module @mount @obsolete @raw-io @reboot @resources @swap

CapabilityBoundingSet=
RestrictAddressFamilies=~AF_NETLINK AF_PACKET
RestrictNamespaces=yes

WatchdogSec=60

NotifyAccess=main
Type=notify
ExecStart=bundle2.7 exec /opt/teak-configurator/bin/configurator
Restart=always

[Install]
WantedBy=multi-user.target
