[Unit]
Description=Teak Meta Configurator (Configures systemd for the configurator)
DefaultDependencies=no
Wants=cloud-config.target
After=cloud-config.target
Before=sysinit.target

[Service]
Slice=teak-services.slice
ReadOnlyPaths=/

# We persist systemd dropins and other config, so make sure that's writeable
ReadWritePaths=/run/systemd/system
ProtectSystem=full
RuntimeDirectory=teak-configurator
LogsDirectory=teak-configurator
ConfigurationDirectory=teak-configurator
WorkingDirectory=/opt/teak-configurator

NoNewPrivileges=yes
PrivateTmp=yes
PrivateUsers=yes
ProtectClock=yes
PrivateDevices=yes
PrivateNetwork=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
RestrictSUIDSGID=yes
RestrictRealtime=yes
LockPersonality=yes
RemoveIPC=yes
UMask=0077

SystemCallArchitectures=native
SystemCallFilter=~@clock @cpu-emulation @debug @module @mount @obsolete @raw-io @reboot @resources @swap

CapabilityBoundingSet=
RestrictAddressFamilies=none
RestrictNamespaces=yes

User=root
Type=oneshot
ExecStart=/opt/teak-configurator/bin/meta_configurator
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
